<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
 </head>
 <body>
   {{>header}}
     <h1> Serving {{name}} help on {{city}} through weather app !! </h1>    
   {{>footer}}  
 </body>

</html>